# sbt
target/
project/target/
project/project/

# IDE
.idea/
.bsp/

# OS
.DS_Store
Thumbs.db

# Deckbuilder
deckbuilder/target/
deckbuilder/frontend.js

# Generated output

# Environment
.env

# Worker
search-proxy/node_modules/
